.dropdown {
    position: relative;
}

.dropbtn {
    border:none;
    padding: 10px;
    background-color: #f56;
    box-shadow: 10px 2px 3px 4px #000;
} 

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 0;
    transition: height 2s ease;
}
.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
    height: auto;
    transition: height 2s ease;
}