*, *:before, *:after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

*:focus {
  outline: none !important;
}

body, html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  background: #222;
}

div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/345377/protest-nitish-meena.jpg") center bottom/cover;
  opacity: 0.025;
}

h1 {
  position: relative;
  font-size: 10vw;
  font-weight: 800;
  text-align: center;
  color: #fff;
  background: #ef2f53;
/*  background: linear-gradient(to right, #ef2f53 0%, #ef6226 16%, #f1f42e 33%, #94d328 50%, #26b3cc 67%, #3d43e5 83%, #8a37ce 100%) center center/cover;*/
    background: linear-gradient(to right, #26b3cc 25%, #3d43e5 83%, #8a37ce 100%) center center/cover;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef2f53', endColorstr='#8a37ce',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    transform: rotate(-12deg);
}
